@using Microsoft.AspNetCore.Components.Rendering
@using PokeBreedr.Components.Utils
@using PokeBreedr.Enums
@using PokeBreedr.Models

<div class="card-container">
    <div class="card-body-grid">

        <!-- Columna izquierda -->
        <div class="left-column">

            <!-- Pokemon -->
            <div class="field">
                <label>Pokemon</label>

                <DropdownSearch Options="PokemonOptions"
                                @bind-Value="Model.Pokemon" />
            </div>

            <!-- Imagen -->
            <div class="pokemon-image-container">
                <img src="assets/defaultAvatar.png"
                     alt="Pokemon Avatar"
                     class="pokemon-image" />
            </div>

        </div>

        <!-- Columna central -->
        <div class="middle-column">

            <!-- Egg Group -->
            <div class="field">
                <label>
                    Egg Group: @Model.EggGroup1
                    @(Model.EggGroup2 == null
                        ? ""
                        : $" / {Model.EggGroup2}")
                </label>
            </div>

            <!-- Gender -->
            <div class="field">
                <label>Gender</label>

                <Dropdown TValue="PokemonGenderEnum?"
                          Options="GenderOptions"
                          @bind-Value="Model.Gender"
                          isDisabled=@isLocked />
            </div>

            <!-- Nature -->
            <div class="field">
                <label>Nature</label>

                <Dropdown TValue="PokemonNatureEnum?"
                          Options="NatureOptions"
                          @bind-Value="Model.Nature"
                          isDisabled=@isLocked />
            </div>

        </div>

        <!-- Columna derecha -->
        <div class="right-column">

            <div class="ivs-grid-body">

                <NumberSelector Title="Hp"
                                Value="@Model.HpIv"
                                MinValue="0"
                                MaxValue="31"
                                StepSmall="1"
                                StepLarge="10"
                                isDisabled=@isLocked/>

                <NumberSelector Title="Attack"
                                Value="@Model.AttackIv"
                                MinValue="0"
                                MaxValue="31"
                                StepSmall="1"
                                StepLarge="10"
                                isDisabled=@isLocked />

                <NumberSelector Title="Defense"
                                Value="@Model.DefenseIv"
                                MinValue="0"
                                MaxValue="31"
                                StepSmall="1"
                                StepLarge="10"
                                isDisabled=@isLocked />

                <NumberSelector Title="Sp. Attack"
                                Value="@Model.SpAttackIv"
                                MinValue="0"
                                MaxValue="31"
                                StepSmall="1"
                                StepLarge="10" 
                                isDisabled=@isLocked />

                <NumberSelector Title="Sp. Defense"
                                Value="@Model.SpDefenseIv"
                                MinValue="0"
                                MaxValue="31"
                                StepSmall="1"
                                StepLarge="10"
                                isDisabled=@isLocked />

                <NumberSelector Title="Speed"
                                Value="@Model.SpeedIv"
                                MinValue="0"
                                MaxValue="31"
                                StepSmall="1"
                                StepLarge="10" 
                                isDisabled=@isLocked />


            </div>

        </div>

    </div>

    <div class="card-actions">

        @if (!Model.IsSaved)
        {
            <button @onclick="Save">
                Guardar
            </button>

            <button @onclick="Cancel">
                Cancelar
            </button>
        }
        else
        {
            <button class="button" @onclick="Delete">
                Eliminar
            </button>
        }

    </div>

</div>

@code {

    [Parameter]
    public PokemonInfo Model { get; set; } = default!;

    [Parameter]
    public EventCallback<PokemonInfo> OnSave { get; set; }

    [Parameter]
    public EventCallback<PokemonInfo> OnCancel { get; set; }

    [Parameter]
    public EventCallback<PokemonInfo> OnDelete { get; set; }

    private bool isLocked => string.IsNullOrWhiteSpace(Model.Pokemon);

    private List<DropdownOption> PokemonOptions = new()
    {
        new() { Value = "bulbasaur", Label = "Bulbasaur" },
        new() { Value = "charmander", Label = "Charmander" },
        new() { Value = "squirtle", Label = "Squirtle" },
        new() { Value = "pikachu", Label = "Pikachu" },
    };

    private List<DropdownOption> GenderOptions = new()
    {
        new() { Value = PokemonGenderEnum.Male.ToString(), Label = "Male" },
        new() { Value = PokemonGenderEnum.Female.ToString(), Label = "Female" },
        new() { Value = PokemonGenderEnum.Genderless.ToString(), Label = "Genderless" },
        new() { Value = PokemonGenderEnum.Ditto.ToString(), Label = "Ditto" },
    };

    private List<DropdownOption> NatureOptions = new()
    {
        new() { Value = PokemonNatureEnum.Adamant.ToString(), Label = "Adamant" },
        new() { Value = PokemonNatureEnum.Bashful.ToString(), Label = "Bashful" },
        new() { Value = PokemonNatureEnum.Bold.ToString(), Label = "Bold" },
        new() { Value = PokemonNatureEnum.Brave.ToString(), Label = "Brave" },
    };

    private async Task Save()
    {
        await OnSave.InvokeAsync(Model);
    }

    private async Task Cancel()
    {
        await OnCancel.InvokeAsync(Model);
    }

    private async Task Delete()
    {
        await OnDelete.InvokeAsync(Model);
    }

}