@using PokeBreedr.Components.Utils
@using PokeBreedr.Enums
@using PokeBreedr.Models
@using PokeBreedr.Services

@inject PokemonInitialLoad PokemonService

<div class="card-container">
    <div class="card-body-grid">

        <!-- Columna izquierda -->
        <div class="left-column">

            <!-- Pokemon -->
            <div class="field">
                <label>Pokemon: @(Model.Pokemon)</label>                

                <label>Nickname</label>

                <!-- TO DO-->
                <input class="text-input"
                       maxlength="200"
                       @bind="@FinalNickname"
                       placeholder="Nickname" />
            </div>

            <!-- Imagen -->
            <div class="pokemon-image-container">
                <img src="@(string.IsNullOrWhiteSpace(PokemonImage)
                                                                  ? "assets/defaultAvatar.png"
                                                                  : $"data:image/png;base64,{PokemonImage}")"
                     alt="Pokemon Avatar"
                     class="pokemon-image" />
                @if (Model.IsAlfa)
                {
                    <img src="assets/alphaIcon.webp"
                         class="pokemon-alpha-icon"
                         alt="Alpha icon">
                }

            </div>

        </div>

        <!-- Columna central -->
        <div class="middle-column">

            <!-- Egg Group -->
            <div class="field">
                <label>
                    Egg Group:
                    @this.EggGroup1@(this.EggGroup2 == "" ? "" : $" / {this.EggGroup2}")
                </label>
            </div>

            <div class="field">
                <label>
                    Alfa
                    <input type="checkbox"
                           class="card-checkbox"
                           @bind="Model.IsAlfa"
                           disabled ="@true"/>
                </label>
            </div>

            <!-- Gender -->
            <div class="field">
                <label>Gender</label>

                <Dropdown TValue="PokemonGenderEnum?"
                          Options="GenderOptions"
                          @key="GenderOptions"
                          @bind-Value="@FinalGender"
                          isDisabled="@(isGenderLocked)" />
            </div>

            <!-- Nature -->
            <div class="field">
                <label>Nature</label>

                <Dropdown TValue="PokemonNatureEnum?"
                          Options="NatureOptions"
                          @bind-Value="Model.Nature"/>
            </div>

        </div>

        <!-- Columna derecha -->
        <div class="right-column">

            <div>

               <IVResultShower 
                   Title ="Hp"
                   Iv1="@Model.HpIv1"
                   Iv2="@Model.HpIv2"
                   SelectedHpIv="@Model.SelectedHpIv">
               </IVResultShower>

                <IVResultShower Title="Attack"
                                Iv1="@Model.AttackIv1"
                                Iv2="@Model.AttackIv2"
                                SelectedHpIv="@Model.SelectedAttackIv">
                </IVResultShower>

                <IVResultShower Title="Defense"
                                Iv1="@Model.DefenseIv1"
                                Iv2="@Model.DefenseIv2"
                                SelectedHpIv="@Model.SelectedDefenseIv">
                </IVResultShower>

                <IVResultShower Title="SpAttack"
                                Iv1="@Model.SpAttackIv1"
                                Iv2="@Model.SpAttackIv2"
                                SelectedHpIv="@Model.SelectedSpAttackIv">
                </IVResultShower>

                <IVResultShower Title="SpDefense"
                                Iv1="@Model.SpDefenseIv1"
                                Iv2="@Model.SpDefenseIv2"
                                SelectedHpIv="@Model.SelectedSpDefenseIv">
                </IVResultShower>

                <IVResultShower Title="Speed"
                                Iv1="@Model.SpeedIv1"
                                Iv2="@Model.SpeedIv2"
                                SelectedHpIv="@Model.SelectedSpeedIv">
                </IVResultShower>


            </div>

        </div>

    </div>

    <div class="card-actions">

        <button class="card-button" @onclick="Save"
                disabled="@true">
            Guardar
        </button>

    </div>

</div>

@code {

    [Parameter]
    public CombinationInfo Model { get; set; } = default!;

    [Parameter]
    public EventCallback<CombinationInfo> OnSave { get; set; }

    private string EggGroup1 = string.Empty;
    private string EggGroup2 = string.Empty;

    private string? PokemonImage = null;
    private PokemonGenderEnum? FinalGender;
    private string? FinalNickname = null;
    private bool isGenderLocked = false;

    protected override async Task OnInitializedAsync()
    {
        // Si ya viene un pokemon seleccionado
        if (!string.IsNullOrWhiteSpace(Model.Pokemon))
        {
            await LoadPokemonInfo(Model.Pokemon);
        }
    }

    private async Task LoadPokemonInfo(string pokemonName)
    {
        var pokemonInfo = await PokemonService.GetPokemonInfo(pokemonName);

        this.EggGroup1 = pokemonInfo.EggGroup1;
        this.EggGroup2 = pokemonInfo.EggGroup2;

        PokemonImage = pokemonInfo.ImageBase64;

        if (EggGroup1 == "Ditto")
        {
            GenderOptions = new()
            {
                new() { Value = PokemonGenderEnum.Ditto.ToString(), Label = "Ditto" }
            };

            FinalGender = PokemonGenderEnum.Ditto;
            isGenderLocked = true;
        }
        else if (EggGroup1 == "Genderless")
        {
            GenderOptions = new()
            {
                new() { Value = PokemonGenderEnum.Genderless.ToString(), Label = "Genderless" }
            };

            FinalGender = PokemonGenderEnum.Genderless;
            isGenderLocked = true;
        }
        else
        {
            GenderOptions = new()
            {
                new() { Value = PokemonGenderEnum.Male.ToString(), Label = "Male" },
                new() { Value = PokemonGenderEnum.Female.ToString(), Label = "Female" }
            };

            isGenderLocked = false;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task Save()
    {
        //await OnSave.InvokeAsync(Model);
    }

    private List<DropdownOption> GenderOptions = new();
    private List<DropdownOption> NatureOptions = new()
    {
        new() { Value = PokemonNatureEnum.Hardy.ToString(), Label = "Hardy" },
        new() { Value = PokemonNatureEnum.Lonely.ToString(), Label = "Lonely" },
        new() { Value = PokemonNatureEnum.Brave.ToString(), Label = "Brave" },
        new() { Value = PokemonNatureEnum.Adamant.ToString(), Label = "Adamant" },
        new() { Value = PokemonNatureEnum.Naughty.ToString(), Label = "Naughty" },

        new() { Value = PokemonNatureEnum.Bold.ToString(), Label = "Bold" },
        new() { Value = PokemonNatureEnum.Docile.ToString(), Label = "Docile" },
        new() { Value = PokemonNatureEnum.Relaxed.ToString(), Label = "Relaxed" },
        new() { Value = PokemonNatureEnum.Impish.ToString(), Label = "Impish" },
        new() { Value = PokemonNatureEnum.Lax.ToString(), Label = "Lax" },

        new() { Value = PokemonNatureEnum.Timid.ToString(), Label = "Timid" },
        new() { Value = PokemonNatureEnum.Hasty.ToString(), Label = "Hasty" },
        new() { Value = PokemonNatureEnum.Serious.ToString(), Label = "Serious" },
        new() { Value = PokemonNatureEnum.Jolly.ToString(), Label = "Jolly" },
        new() { Value = PokemonNatureEnum.Naive.ToString(), Label = "Naive" },

        new() { Value = PokemonNatureEnum.Modest.ToString(), Label = "Modest" },
        new() { Value = PokemonNatureEnum.Mild.ToString(), Label = "Mild" },
        new() { Value = PokemonNatureEnum.Quiet.ToString(), Label = "Quiet" },
        new() { Value = PokemonNatureEnum.Bashful.ToString(), Label = "Bashful" },
        new() { Value = PokemonNatureEnum.Rash.ToString(), Label = "Rash" },

        new() { Value = PokemonNatureEnum.Calm.ToString(), Label = "Calm" },
        new() { Value = PokemonNatureEnum.Gentle.ToString(), Label = "Gentle" },
        new() { Value = PokemonNatureEnum.Sassy.ToString(), Label = "Sassy" },
        new() { Value = PokemonNatureEnum.Careful.ToString(), Label = "Careful" },
        new() { Value = PokemonNatureEnum.Quirky.ToString(), Label = "Quirky" },
    };
}